---
import { Icon } from 'astro-icon/components'

---

<footer class=" bg-highland-300 end-0 bottom-0 w-screen p-3 text-right">
  <Icon name="hedgehogLeft" size={125} class="right-5 bottom-10 absolute"/>
  <div class="grid grid-flow-col">
    <a href="https://www.linkedin.com/in/joanna-broad-233083ba/" class="m-auto"><Icon name="linkedin" size={50} /></a>
    <a href="https://www.facebook.com/joanna.broad" class="m-auto"><Icon name="facebook" size={50} /></a>
    <a href="https://github.com/JoannaBroad" class="m-auto"><Icon name="gitSquare" size={50} /></a>
    <p class=" text-center m-3">Joanna Broad</p>
  </div>
</footer>