---
import { Icon } from 'astro-icon/components';
---

<nav class=" bg-highland-300 sticky top-0 p-4 text-center hover:transition-all">
  <div class="">
    <div class="flex items-center justify-between h-10">
      <div class="flex items-center">
        <Icon name="newlogo" size={75} class=" ml-4" />
      </div>
      <div class="hidden md:block">
        <div class="ml-10">
          <a href="#hero" class=" hover:bg-highland-500 hover:text-white px-3 py-2 rounded-md duration-1000">About</a>
          <a href="#project" class=" hover:bg-highland-500 hover:text-white px-3 py-2 rounded-md duration-1000">Projects</a>
          <a href="#contact" class=" hover:bg-highland-500 hover:text-white px-3 py-2 rounded-md duration-1000">Contact</a>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md  hover:text-white hover:bg-highland-500 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="md:hidden hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 ">
      <a href="#" class="hover:bg-highland-500 hover:text-white block px-3 py-2 rounded-md duration-1000">About</a>
      <a href="#" class="hover:bg-highland-500 hover:text-white block px-3 py-2 rounded-md duration-1000">Projects</a>
      <a href="#" class="hover:bg-highland-500 hover:text-white block rounded-md duration-1000">Contact me</a>
      
    </div>
  </div>
</nav>

<script lang="ts">
  
  window.addEventListener('DOMContentLoaded', () => {
    if (mobileMenu && mobileMenu.classList.contains('hidden')) {
        const firstSvg = mobileMenuButton.querySelector('svg:first-child');
        const lastSvg = mobileMenuButton.querySelector('svg:last-child');
        if (firstSvg && lastSvg) {
            firstSvg.classList.remove('hidden');
            lastSvg.classList.add('hidden');
        }
    }
});

	const mobileMenuButton = document.getElementById('mobile-menu-button');
const mobileMenu = document.getElementById('mobile-menu');

if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
        const firstSvg = mobileMenuButton.querySelector('svg:first-child');
        const lastSvg = mobileMenuButton.querySelector('svg:last-child');
        if (firstSvg && lastSvg) {
            firstSvg.classList.toggle('hidden');
            lastSvg.classList.toggle('hidden');
        }
    });
}
</script>